:root {
  --dark-grey-color: #383838;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #C4C4C4;
  --playStation-blue-color: #0072CE;
  --light-gray-color: #E4E4E4;
  --near-white-color: #F8F8F8;
  --red-color: #FF4747;
  --ps-dark-color: #B98029;
  --ps-white-color: #FDD635;
  --capcom-color: #FFCB08;
  --capcom-color: #0C4DA2;
  --footer-color: #065BAA;
  --dark-bg-color: #1F1F1F;

  --main-font: 'Open Sans', sans-serif;
}

.container {
  max-width: 1190px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}