@import 'src/assets/scss/variables';

.customSelect {
	cursor: pointer !important;

	&__control {
		display: flex;
		justify-content: center !important;
		width: 130px !important;
		border: 0 !important;
		cursor: pointer !important;
		box-shadow: none !important;

		&--menu-is-open {
			color: var(--black-color);
		}

		&:hover {
			border: none !important;
			box-shadow: none !important;
		}
	}

	&__value-container {
		padding: 0 !important;
	}

	&__placeholder {
		font-family: var(--main-font) !important;
		font-weight: 600 !important;
		font-size: 14px !important;
		color: var(--black-color) !important;
	}

	&__indicators {
		cursor: pointer !important;
	}

	&__indicator {
		padding: 0 !important;
	}

	&__indicator-separator {
		display: none !important;
	}

	&__menu {
		z-index: 3 !important;
		cursor: pointer !important;
	}
}
